<!-- <app-header></app-header>
<div class="container">
    <div class="d-print-none">
      
    </div>
    <div class="home__header">
        <div class="home__content-logo">
            <img src="assets/imgs/logo-mode-dark.svg" class="home__logo" alt="Ivan-VIdal Web Developer">
        </div>
    </div> 
    <div class="home__content-contact">
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/linkedin.svg" alt="">
        </div>
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/instagram.svg" alt="">
        </div>
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/whatsapp.svg" alt="">
        </div>
    </div>
    <div class="home__button">
        <app-button 
            [label]="'Baixar CV'"
            [type]="'flat'"
            >
        </app-button>
        <div class="home__button-first">
            <app-button 
                [label]="'Saiba mais'"
                [type]="'raised'"
                [routerLink]="'/about'"
            >
            </app-button>
        </div>
    </div>
 </div>    -->

<!-- ---------------------------------------------------------------------------------- -->
<nav id="inicio" class="navbar navbar-dark navbar-expand-lg" style="background-color: transparent;">
    <div class="container-fluid">
        <div class="home__content-img">
            <img (click)="scrollToElement('inicio')" class="home__img" src="assets/imgs/logo-mode-dark.svg" alt="Ivan Vidal">
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="showSeeMore = !showSeeMore" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="scrollToElement('inicio')">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('about')">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('project')">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('technologys')">Tecnologias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToElement('contact')">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- <nav id="hero" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="home__content-img">
        <img class="home__img" src="assets/imgs/logo-mode-dark.svg" alt="Ivan Vidal">
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <span>Projetos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Tecnologias</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Experiencia</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>Contato</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a href="https://github.com/Ivan-Vidal" target="_blank">
            <img src="assets/icons/icon-github.svg" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/ivan-vidal-b7485a138/" target="_blank">
            <img class="home__content-icon" src="assets/icons/icon-linkedin.svg" alt="LinkedIn">
        </a> 
        <a href="https://api.whatsapp.com/send?L=pt_BR&phone=5511968344811&text=Tenho interesse em seus serviços." target="_blank">
            <img src="assets/icons/icon-whatsapp.svg" alt="Whatsapp">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <img class="navbar-toggler-icon" src="assets/icons/icon-menu.svg" alt="">
    </button>
</nav> -->
<div class="container" [ngClass]="{'header-fixed': windowScrolled }">
    <header class="home__content-hero">
        <div class="d-flex flex-column">
            <div class="home__content-img-hero">
                <img src="assets/imgs/programming-img.svg" alt="programador">
            </div>
            <div class="home__content-title">
                <h1>Ivan Vidal</h1>
                <span>Desenvolvedor Front end com 2 anos de experiência no setor bancário.</span>
            </div>
        </div>
       
        <div class="home__content-see-more">

            <a class="home__content-see-more arrow bounce" href="home#about" *ngIf="!windowScrolled && showSeeMore">
                <span>Ver mais</span>
                <img src="assets/icons/seta-para-expandir.png" alt="seta para baixo">
            </a>
        </div>
    </header>
    <section id="about">
        <div class="about__content-title">
            <h1>Sobre</h1>
        </div>
        <div class="about__content-logo">
            <img class="about__img" src="assets/imgs/web-developer.svg" alt="Ivan Vidal">
        </div>
        <div class="about__content-description">
            Atualmente estou focado em desenvolvimento Web com o framework Angular com Typescript todas as suas abrangêcias.
            Desenvolvo sites responsivos com o conceito de Mobile First.
            Quando mais vasculho o mundo do desenvolvimento, mais encantado fico, com o vasto conhecimento que podemos adquirir e compartilhar.❤️
        </div>
    </section>
    <section id="project">
        <div class="project__content-title">
            <h1>Projetos</h1>
        </div>
        <div>
            <div>
                <app-card-project></app-card-project>
            </div>
            <div>
                <app-card-project></app-card-project>
            </div>
            <div>
                <app-card-project></app-card-project>
            </div>
            <div>
                <app-card-project></app-card-project>
            </div>
            
        </div>
    </section>
    <section id="technologys">
        <div class="technologys__content-title">
            <h1>Tecnologias</h1>
        </div>
        <div>
            <app-technologies></app-technologies>
        </div>
        <div class="technologys__content-add">
            <span>Tecnologias adicionais e habilidades</span>
            
            <ul>
                <li>Scrum & Kanban</li>
                <li>Github & GitLab</li>
                <li>BitBucket</li>
                <li>Git</li>
                <li>npm & Yarn</li>
            </ul>
        </div>
    </section>
    <section id="contact">
        <div class="contact__content-title">
            <h1>Contato</h1>
        </div>
        <div>
            <div class="form">
                <!-- <div  class="sendmessage">Sua mensagem foi enviada com sucesso!</div>
                <div class="errormessage"> Mensagem não enviada!
                  Preencha todo o Formulário </div> -->
                <form  method="POST" role="form" class="contactForm">
                  <div class="form-group">
                    <input type="text" name="name" placeholder="Nome" class="form-control" id="name"  required data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control"   name="email" id="email" placeholder="Seu E-mail" required data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control"   name="subject" id="subject" required placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control"     name="message" rows="5" required data-msg="Escreva sua mensagem aqui" placeholder="Escreva sua dúvida aqui"></textarea>
                    <div class="validation"></div>
                  </div>
                  <div class="card-project__button">
                    <span>Enviar</span>
                    <i class=" fas 
                    fa-regular fa-arrow-right"></i>
                </div>
                </form> 
              </div>
        </div>
        <div class="contact__content-footer">
            <div>
                ivanvidal.dev@gmail.com
            </div>
            <div>
                <a href="https://github.com/Ivan-Vidal" target="_blank">
                    <img src="assets/icons/icon-github.svg" alt="Github">
                </a>
                <a href="https://www.linkedin.com/in/ivan-vidal-b7485a138/" target="_blank">
                    <img class="home__content-icon" src="assets/icons/icon-linkedin.svg" alt="LinkedIn">
                </a> 
                <a href="https://api.whatsapp.com/send?L=pt_BR&phone=5511968344811&text=Tenho interesse em seus serviços." target="_blank">
                    <img src="assets/icons/icon-whatsapp.svg" alt="Whatsapp">
                </a>
            </div>
        </div>
        <footer id="footer">
            <div class="copyright">
             Copyright &copy; 2023 - <strong>Vidal Dev Consultoria</strong>
            </div>
        </footer>
    </section>
</div>
<a (click)="scrollToElement('inicio')" class="back-to-top" [ngClass]="{'block': windowScrolled }"  ><i class="fas fa-chevron-up"></i></a>