<nav id="inicio" class="navbar container navbar-dark navbar-expand-lg" style="background-color: transparent;">
    <div class="container-fluid">
        <div class="home__content-img">
            <img (click)="scrollToElement('inicio')" class="home__img" src="assets/imgs/logo-mode-dark.svg"
                alt="Ivan Vidal">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" (click)="showSeeMore = !showSeeMore"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" (click)="scrollToElement('inicio')">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement('about')">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement('project')">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement('technologys')">Tecnologias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToElement('contact')">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" [ngClass]="{'header-fixed': windowScrolled }">
    <header class="home__content-hero">
        <div class="home__content-header">
            <!-- Imagem principal -->
            <div class="home__content-img-hero">
                <img src="assets/imgs/programming-img.svg" alt="Ilustração de um programador">
            </div>
            <!-- Título e descrição -->
            <div class="home__content-title">
                <h1>Ivan Vidal</h1>
                <span>Desenvolvedor Front-End com 4 anos de experiência no setor bancário, apaixonado por criar soluções
                    eficientes e inovadoras.</span>
            </div>
        </div>
        <!-- Botão de ver mais -->
        <div class="home__content-see-more">
            <a class="home__content-see-more-link" href="home#about" *ngIf="!windowScrolled && showSeeMore">
                <span>Saiba Mais</span>
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </header>
    <section id="about">
        <div class="about__content-title">
            <h1>Sobre</h1>
        </div>
        <div class="about__content">
            <div class="about__content-logo">
                <img class="about__img" src="assets/imgs/about-img.svg" alt="Ivan Vidal">
            </div>
            <div class="about__content-description">
                <p class="about__content-description-text">
                    Sou um desenvolvedor Angular com quatro anos de experiência no setor bancário, focado em criar
                    soluções de software eficientes e robustas. Tenho amplo conhecimento em TypeScript, HTML e CSS, e
                    estou familiarizado com as melhores práticas e os padrões de desenvolvimento do Angular. Trabalhei
                    em projetos desafiadores, como aplicações front-end altamente integradas com back-ends complexos, abrangendo
                    serviços bancários online, aplicativos móveis para clientes e ferramentas internas de gestão. Minha
                    experiência inclui a compreensão e conformidade, bem como as necessidades dos usuários em um setor
                    altamente regulamentado.
                </p>
                <div class="content-cv">
                    <a href="/assets/cv/ivan.pdf" download>
                        <span>Download CV</span>
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="project">
        <div class="projects__title">
            <h1>Projetos</h1>
            <p>Aqui estão alguns dos projetos que desenvolvi.</p>
            <p>Clique no ícone para acessar o repositório no GitHub.</p>
        </div>
        <div class="projects__content">
            <div class="project-card">
                <h2>Weekly Meal Planner</h2>
                <p>Um planejador semanal de refeições desenvolvido com Angular, Node.js e SQLite.</p>
                <a href="https://github.com/Ivan-Vidal/meal-planner-front" target="_blank" class="project-link">
                    <i class="fab fa-github"></i> Ver no GitHub
                </a>
            </div>
            <div class="project-card">
                <h2>Angular JWT</h2>
                <p>Uma aplicação frontend e backend construída com Angular e Node.js, utilizando autenticação JWT (JSON
                    Web Token). O projeto foi desenvolvido com foco em boas práticas, incluindo validação de código,
                    testes e integração contínua.</p>
                <a href="https://github.com/Ivan-Vidal/jwt-angular-front" target="_blank" class="project-link">
                    <i class="fab fa-github"></i> Ver no GitHub
                </a>
            </div>
            <div class="project-card">
                <h2>ChartsJS</h2>
                <p>Esse projeto tem como objetivo aprimorar meus conhecimentos em Front end com o framework Angular,
                    monstrando as melhores formas de utilizar gráficos na web com o ChartsJS.</p>
                <a href="https://github.com/Ivan-Vidal/test-chartsjs" target="_blank" class="project-link">
                    <i class="fab fa-github"></i> Ver no GitHub
                </a>
            </div>
        </div>
    </section>

    <section id="technologys">
        <div class="technologys__content">
            <div class="technologys__content-title">
                <h1>Tecnologias</h1>
            </div>

            <div class="technologys__content-main">
                <app-technologies></app-technologies>
            </div>

            <div class="technologys__content-groups">
                <div class="technologys__content-add">
                    <h2>Tecnologias adicionais e habilidades</h2>
                    <ul>
                        <li>Azure DevOps & Bamboo</li>
                        <li>npm & Yarn</li>
                        <li>Acessibilidade</li>
                        <li>Github, GitLab & Bitbucket</li>
                        <li>Tagueamento (Google Tag Manager)</li>
                        <li>Metodologias Ágeis Scrum & Kanban</li>
                    </ul>
                </div>

                <div class="technologys__content-add">
                    <h2>IDEs Utilizadas</h2>
                    <ul>
                        <li>Visual Studio Code</li>
                        <li>Eclipse</li>
                        <li>Intellij</li>
                    </ul>
                </div>

                <div class="technologys__content-add">
                    <h2>Sistemas Operacionais</h2>
                    <ul>
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>MacOs</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="contact__content-title">
            <h1>Contato</h1>
        </div>
        <div class="contact__content">
            <div class="form">
                <form [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                    <div>
                        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Nome"
                            required minlength="3" maxlength="100" [ngClass]="{
                                'is-invalid': contactForm.get('name')?.invalid && contactForm.get('name')?.touched
                            }" />
                        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
                            class="form-error">
                            <small *ngIf="contactForm.get('name')?.errors?.['required']">Nome é obrigatório.</small>
                            <small *ngIf="contactForm.get('name')?.errors?.['minlength']">
                                Nome deve ter pelo menos 3 caracteres.
                            </small>
                        </div>
                    </div>

                    <div>
                        <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email"
                            required [ngClass]="{
                                'is-invalid': contactForm.get('email')?.invalid && contactForm.get('email')?.touched
                            }" />
                        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                            class="form-error">
                            <small *ngIf="contactForm.get('email')?.errors?.['required']">Email é obrigatório.</small>
                            <small *ngIf="contactForm.get('email')?.errors?.['email']">Email inválido.</small>
                        </div>
                    </div>

                    <div>
                        <input id="subject" type="text" class="form-control" formControlName="subject"
                            placeholder="Assunto" required minlength="3" maxlength="100" [ngClass]="{
                                'is-invalid': contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched
                            }" />
                        <div *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched"
                            class="form-error">
                            <small *ngIf="contactForm.get('subject')?.errors?.['required']">Assunto é
                                obrigatório.</small>
                            <small *ngIf="contactForm.get('subject')?.errors?.['minlength']">
                                Assunto deve ter pelo menos 3 caracteres.
                            </small>
                        </div>
                    </div>

                    <div>
                        <textarea id="message" class="form-control" formControlName="message" rows="5"
                            placeholder="Mensagem" required minlength="10" [ngClass]="{
                                'is-invalid': contactForm.get('message')?.invalid && contactForm.get('message')?.touched
                            }"></textarea>
                        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                            class="form-error">
                            <small *ngIf="contactForm.get('message')?.errors?.['required']">Mensagem é
                                obrigatória.</small>
                            <small *ngIf="contactForm.get('message')?.errors?.['minlength']">
                                Mensagem deve ter pelo menos 10 caracteres.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="contactForm.invalid" class="card-project__button">
                        <span>Enviar</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </form>
            </div>
            <div class="content-text">
                <p>
                    <span class="break__line">
                        Se você está procurando um desenvolvedor dedicado, comprometido e apaixonado por transformar
                        ideias
                        em realidade, estou aqui para ajudar.
                    </span>
                    <br />
                    <span class="break__line">
                        Não hesite em entrar em contato comigo através dos meus canais disponíveis abaixo.
                    </span>
                    <br />
                    <span class="break__line">
                        Obrigado por visitar o meu portfólio. Estou ansioso para trabalhar com você.
                    </span>
                </p>
            </div>
        </div>
        <div class="contact__content-footer">
            <div>
                <a href="mailto:ivanvidal.dev&#64;gmail.com">ivanvidal.dev&#64;gmail.com</a>
            </div>
            <div class="social-links">
                <a href="https://github.com/Ivan-Vidal" target="_blank">
                    <img src="assets/icons/icon-github.svg" alt="Github" />
                </a>
                <a href="https://www.linkedin.com/in/ivan-vidal-b7485a138/" target="_blank">
                    <img class="home__content-icon" src="assets/icons/icon-linkedin.svg" alt="LinkedIn" />
                </a>
                <a href="https://api.whatsapp.com/send?phone=5511968344811" target="_blank">
                    <img src="assets/icons/icon-whatsapp.svg" alt="Whatsapp" />
                </a>
            </div>
        </div>
        <footer id="footer">
            <div class="copyright">
                Copyright &copy; 2025 - <strong>Vidal Dev Consultoria</strong>
            </div>
        </footer>
    </section>

</div>
<a (click)="scrollToElement('inicio')" class="back-to-top" [ngClass]="{'block': windowScrolled }"><i
        class="fas fa-chevron-up"></i></a>

<!-- Overlay do Loading -->
<div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
</div>