<div class="about__container">
    <div class="about__title">
        <h1>Sobre mim</h1>
    </div>
    <div class="about__description">
        <span>
            Sou desenvolvedor Front end, atualmente estou focado em desenvolvimento Web com o framework Angular e usando a biblioteca de design de interfaces (React JS) e todas as suas abrangêcias. Gosto de desenvolver sites responsivos com o conceito de Mobile First e utilizo o Node JS no Back-End. Quando mais vasculho o mundo do desenvolvimento, mais encantado fico, com o vasto conhecimento que podemos adquirir e compartilhar.❤️
        </span>
    </div>
    
    <div class="about__button">
        <app-button
            [routerLink]="'/contact'"
            [label]="'Entre em contato'"
            [type]="'flat'"
            >
        </app-button>
        <app-button
            [routerLink]="'/'"
            [label]="'Voltar ao inicio'"
            [type]="'raised'"
            >
        </app-button>
    </div>
</div>
