<div class="header__container">
    <div class="header__menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="header__navbar-container container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/imgs/logo.png" class="header__logo" alt="Ivan-VIdal Web Developer">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>.
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/home" >Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/tech">Tecnologias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/project">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>