<app-header></app-header>

<div class="project__container">
    <div class="project__title">
        <h3>Meu projetos</h3>
    </div>
    <div class="project__content">
        <mat-tab-group>
            <mat-tab label="App">
                 Content 1 
            </mat-tab>

            <mat-tab label="Web">
                <div class="project__content-card ">
                    <app-card-project></app-card-project>
                </div> 
            </mat-tab>
           
          </mat-tab-group>
          
    </div>
    <div class="about__button">
        <app-button
            [routerLink]="'/contact'"
            [label]="'Fale comigo'"
            [type]="'flat'"
            >
        </app-button>
    </div>
</div>