<div class="card-project__container-card">
    <div class="card-project__content-card">
        <div>
            <img class="card-project__img-card"  src="assets\imgs\portfolio\crud-angular-capa.png" alt="CRUD Angular">
        </div>
        <div>
            <h4 class="card-project__title-card">Projeto CRUD Angular</h4>
        </div>
    </div>    
</div>

<div class="card-project__container-card">
    <div class="card-project__content-card">
        <div >
            <img class="card-project__img-card"  src="assets\imgs\portfolio\stoplittle-capa.png" alt="CRUD Angular">
        </div>
        <div>
            <h3 class="card-project__title-card">Stop Little - ReactJS</h3>
        </div>
    </div>    
</div>