.tech__container {
    text-align: center;
    
}

.tech__header{
    margin-top: 30px;
    margin-bottom: 20px;
}

.tech__content {
    padding: 0 20px;
}

.tech__content-tec {
    background-color: aliceblue;
    width: 100%;
    margin-left: auto;
    margin-right : auto;
    padding: 24px 0px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.tech__button {
    width: 100%;
    position: absolute;
    bottom: 30px;
    padding: 0 20px;
}

.tech__img {
    width: 30px;
    border-radius: 20px;
}

.size {
    font-size: 30px;
}

#Js {
    color: #ffd900;
}

#Angular {
    color: #e70606;
}

#Rjs {
color: deepskyblue;
}

#Git {
color: orangered;
}

#Njs {
color:olivedrab;
}

#Rn {
color: cornflowerblue;
}

#Boot {
color: mediumpurple;
}

#Material {
color: royalblue;
}

#Sass {
color: #cf06ae;
}
      