.header__container {

}

.header__logo {
    width: 55px;
 }

.container-fluid.header__navbar-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 0;
}
