<!-- <app-header></app-header> -->
<div class="container">
    <div class="d-print-none">
      
    </div>
    <div class="home__header">
        <div class="home__content-logo">
            <img src="assets/imgs/logo-mode-dark.svg" class="home__logo" alt="Ivan-VIdal Web Developer">
        </div>
    </div> 
    <div class="home__content-contact">
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/linkedin.svg" alt="">
        </div>
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/instagram.svg" alt="">
        </div>
        <div class="home__content-item">
            <img class="home__contact-item" src="assets/imgs/whatsapp.svg" alt="">
        </div>
    </div>
    <div class="home__button">
        <app-button 
            [label]="'Baixar CV'"
            [type]="'flat'"
            >
        </app-button>
        <div class="home__button-first">
            <app-button 
                [label]="'Saiba mais'"
                [type]="'raised'"
                [routerLink]="'/about'"
            >
            </app-button>
        </div>
    </div>
 </div>   