.contact__container {
   padding: 0 24px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100vh;

}

.contact__header {
   margin-top: 16px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.contact__header span {
    font-size: 20px;
    margin-bottom: 16px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
} 

.form-group {
    margin: 20px 0;
}

.contact__button-home {
    width: 100%;
    margin-bottom: 30px;
}

