<div class="tech__content">
    <div class="tech__content-grid">
        <div class="tech__item">
            <span><i id="Angular" class="size fab fa-angular"></i></span>
            <p class="text">Angular</p>
        </div>
        <div class="tech__item">
            <span><img class="tech__img" src="assets/imgs/typescript.svg" alt="TypeScript"></span>
            <p class="text">TypeScript</p>
        </div>
        <div class="tech__item">
            <span><i id="Js" class="size fab fa-js-square"></i></span>
            <p class="text">JavaScript</p>
        </div>
        <div class="tech__item">
            <span><i id="Rjs" class="size fab fa-react"></i></span>
            <p class="text">React JS</p>
        </div>
        <div class="tech__item">
            <span><i id="Njs" class="size fab fa-node-js"></i></span>
            <p class="text">Node JS</p>
        </div>
        <div class="tech__item">
            <span><i id="Rn" class="size fab fa-react"></i></span>
            <p class="text">React Native</p>
        </div>
        <div class="tech__item">
            <span><i id="Boot" class="size fab fa-bootstrap"></i></span>
            <p class="text">Bootstrap</p>
        </div>
        <div class="tech__item">
            <span><i id="Material" class="size fab fa-angular"></i></span>
            <p class="text">Angular Material</p>
        </div>
        <div class="tech__item">
            <span><img class="tech__img" src="assets/icons/icon-ionic.svg" alt="Ionic"></span>
            <p class="text">Ionic</p>
        </div>
        <div class="tech__item">
            <span><i id="Git" class="size fab fa-git-alt"></i></span>
            <p class="text">Git</p>
        </div>
    </div>
</div>
