<div class="tech__container">
    <div class="tech__header">
        <h3 class="tech__title">Tecnologias que utilizo</h3>
    </div>
    <div class="tech__content">
        <div class="row tech__content-tec">
        
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">
                    <i id="Js" class="size fab fa-js-square"></i>
                </span>
                <p class="text">JavaScript</p>
            </div>
            
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">
                    <i id="Angular" class="size fab fa-angular"></i>
                </span>
                <p class="text">Angular</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><img class="tech__img" src="assets/imgs/typescript.svg" alt=""></span>
                <p class="text">TypeScript</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Rjs" class="size fab fa-react"></i>
                </span>
                <p class="text">React JS</p>
            </div>
            
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Git" class="size fab fa-git-alt"></i>
                </span>
                <p class="text">Git</p>
            </div>
            
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Njs" class="size fab fa-node-js"></i></span>
                <p class="text"> Node JS</p>
            </div>
            
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Rn" class="size fab fa-react"></i></span>
                <p class="text">React Native</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Boot" class="size fab fa-bootstrap"></i></span>
                <p class="text">Bootstrap</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Material" class="size fab fa-angular"></i></span>
                <p class="text">Angular Material</p>
            </div>
            <!-- <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up"><i id="Sass" class=" size fa-brands fa-sass"></i></span>
                <p class="text">SASS</p>
            </div> -->
        </div>
    </div>
    <div class="tech__button">
        <app-button
        [routerLink]="'/project'"
        [label]="'Meus projetos'"
        [type]="'flat'"
        >
    </app-button>
    </div>
</div>
