/* Container geral */
.tech__content {

    display: flex;
    padding: 20px;
    color: var(--color-text);
    justify-content: center;
}

/* Grid para os itens */
.tech__content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

/* Cada item de tecnologia */
.tech__item {
    display: inline-block;
    background-color: #192133; /* Fundo dos itens */
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
     color: var(--color-accent);
}

/* Ícones e imagens */
.tech__item span {
    display: block;
    margin-bottom: 0.5rem;
}

.size {
    font-size: 2.5rem;
    color: var(--color-primary);
}

.size:hover {
    color: var(--color-accent);
}

.tech__img {
    width: 50px;
    height: auto;
}

/* Texto de descrição */
.text {
    font-size: 1rem;
    font-weight: 600;
    color: #cfd8dc;
}

/* Responsividade */
@media (max-width: 768px) {
    .tech__item {
        padding: 0.75rem;
    }

    .size {
        font-size: 2rem;
    }

    .text {
        font-size: 0.9rem;
    }
}
