/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #0F1624;
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

body {
    background-color: #202020;
}

html, body { 
    height: 100%;
}

body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 700;
}

.text {
    color: #354159;
}

.break__line {
    display: block;
}

Overwrite material >>>>>>>>>>>>>>
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fff;
}

.mat-tab-labels {
    display: flex;
    justify-content: center;
} 

*/