.button__container {
    width: 100%;
    
}

.button__flat {
    width: 100%;
    height: 56px;
    background-color: #0085FF;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    transition: background .3s;
    margin-bottom: 16px;
}

.button__flat:hover {
    background-color: rgb(230, 230, 230);
}

.button__raised {
    width: 100%;
    height: 56px;
    background-color: transparent;
    color: #0085FF;
    font-weight: 700;
    border: 1px solid #0085FF;
    border-radius: 4px;
    margin-top: 16px;
    transition: background .3s;
}

.button__raised:hover {
    background-color: #283144; 
}