.button__container {
    width: 100%;
    
}

.button__flat {
    width: 100%;
    height: 56px;
    background-color: #fff;
    color: #354159;
    font-weight: 700;
    border-radius: 4px;
    transition: background .3s;
}

.button__flat:hover {
    background-color: rgb(230, 230, 230);
}

.button__raised {
    width: 100%;
    height: 56px;
    background-color: transparent;
    color: aliceblue;
    font-weight: 700;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-top: 16px;
    transition: background .3s;
}

.button__raised:hover {
    background-color: #283144; 
}